---
layout: default
title: home
showbanner: yes
bannertext: Dinosaurs are awesomesauce!
---

 <h1> Dinos 'R' us </h1>
 <p> sifiuh sidhfiuh sdfhsdhvv gygfdvdfv esuhfushef uhewfuhsf fheiufgweuhfuieg egfige efgrwieygd segfeisf uiweriwseg ewyrwtwt euyfgsegfvsg syfgsggdf eufgsefg eugfs </p>

<div class="grid promo-group">

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
    {% include promo-small.html title="Promo 1" desc="Super awesome sale" image="air-dinos/pteranodon.jpg" %}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
    {% include promo-small.html title="Promo 2" desc="Super awesome sale" image="air-dinos/pteranodon.jpg" %}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
    {% include promo-small.html title="Promo 3" desc="Super awesome sale" image="air-dinos/pteranodon.jpg" %}
    </div>
    
  </div>
